html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: "Segoe UI";
    color: #d0d5da;
    /* background-color: #222C31; */
    background-color: #131722;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#particles-js canvas {
    top: 0;
    position: absolute;
}


/*===== COMMON =====*/

.pd-zero {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff !important;
    margin-bottom: 0.8rem;
    font-weight: 400;
}

.color-orange {
    color: #ff9132 !important;
}

.color-while {
    color: #ffffff !important;
}

.color-gray {
    color: #a8a8a8 !important
}


/*===== INTRO =====*/

#intro {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}

#intro .middle {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1000;
}

#intro .middle .login-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 420px;
    width: calc(100% - 40px);
    padding: 30px 40px 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
}

#intro .logo a {
    font-size: 30px;
    letter-spacing: 1px;
    color: #ff9916;
}

#intro .logo a:hover {
    text-decoration: none;
}

#intro h3 {
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 1px;
    font-weight: 500;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

label {
    margin-bottom: 0;
}

.sub-title {
    color: #dadada;
    font-size: 14px;
    margin: 6px 0;
}

.notification {
    color: #fb3c38;
    font-size: 14px;
    margin: 5px 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-material {
    position: relative;
    padding-top: 20px;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

.form-material input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.form-material>.f-control {
    display: block;
    width: 100%;
    height: 38px;
    font-size: 15px;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 1px 0 rgba(255, 153, 22, 0.8);
    transition: box-shadow .3s ease-out;
}

.form-material>.f-control:focus {
    box-shadow: 0 2px 0 rgba(255, 153, 22, 0.8);
    outline: none;
}

.form-material>label {
    position: absolute;
    top: 2px;
    left: 0;
    margin-bottom: 0;
}

.form-material.floating>label {
    display: inline-block;
    color: #ececec;
    font-size: 15px;
    font-weight: 400;
    cursor: text;
    z-index: 2;
    transition: all .2s ease-out;
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
}

.form-material.floating.open>label,
.form-material>.f-control:focus+label,
.form-material>.f-control:active+label,
.form-material>label {
    font-size: 13px;
    font-weight: 600;
    color: #ff9916;
    cursor: default;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.focus-lable {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #ff9916 !important;
    cursor: default !important;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
}


/* Style Validate */

.invalid-feedback {
    display: none;
    margin-top: 8px;
    font-size: 13px;
    color: #fb3c38;
}


/* Style Radio box*/

.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 28px;
}

input[type=radio],
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #ff9916;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 50%;
}

.custom-control-indicator {
    top: 2px;
}

.custom-control-indicator {
    position: absolute;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-description {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}


/* Style Button */

.btn-sm {
    background: rgba(214, 128, 17, 0.8);
    font-size: 15px;
    padding: .5rem 1.8rem;
    color: #fff;
    border-radius: .15rem;
}

.btn-sm:hover {
    border: 1px solid #ff9916;
    color: #fff;
}


/* Style Link */

.link-effect {
    font-size: 14px;
    color: #ff9916;
    padding: 6px 0;
    display: inline-block;
    border: 1px solid transparent;
}

.link-effect:hover {
    border-bottom: 1px solid #ff9916;
    color: #ff9916;
    text-decoration: none;
    transition: 0.6s;
}

.link-effect:focus {
    color: #ff9916;
    text-decoration: none;
    outline: none;
}

.mg-r-5 {
    margin-right: 5px !important;
}

.mg-r-20 {
    margin-right: 20px !important;
}

@media (max-width: 500px) {
    .signin {
        background-color: rgba(0, 0, 0, 0.45) !important;
    }
    .signin .login-panel {
        width: calc(100%) !important;
        background-color: transparent !important;
    }
    .signup {
        background-color: rgba(0, 0, 0, 0.45) !important;
    }
    .signup .login-panel {
        overflow-y: scroll;
        width: calc(100%) !important;
        background-color: transparent !important;
    }
    .reminder-password {
        background-color: rgba(0, 0, 0, 0.45) !important;
    }
    .reminder-password .login-panel {
        width: calc(100%) !important;
        background-color: transparent !important;
    }
}


/*======== FOOTER ========*/

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1000;
}

footer p {
    margin: 6px 15px;
    text-align: right;
    color: rgb(211, 211, 211);
    font-size: 13px;
}

footer p a {
    color: #B6B6B6;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
}

footer p a:focus {
    outline: none;
    text-decoration: none;
    color: #B6B6B6;
}


/*====== Modal ======*/

.modal-content {
    border-radius: .2rem;
}


/* .modal-header {
    border-bottom: 1px solid transparent;
} */

.modal-header h4 {
    color: #000 !important;
}

.modal-header .close {
    padding: .5rem .8rem;
}


/* .modal-footer {
    border-top: 1px solid transparent;
} */

.modal-footer .btn {
    padding: .25rem .85rem .3rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 2px;
}