html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: "Segoe UI";
    color: #d0d5da;
    /* background-color: #222C31; */
    background-color: #131722;
    /* background-color: #02061a; */
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}


/*===== COMMON =====*/

#bg {
    position: relative;
    width: 100%;
    background-color: transparent;
}


/*===== NAV =====*/

#bg .navbar {
    margin-top: 10px;
    border-bottom: 1px solid transparent;
}

#bg .navbar .container {
    padding: 0 30px;
}

#bg .bg-dark {
    background-color: transparent !important;
}

#bg .navbar .nav-item a {
    padding: 5px 0;
    font-weight: 600;
    line-height: 16px;
    color: #d0d5da !important;
    border: 1px solid transparent;
}

#bg .navbar .dropdown-menu a {
    padding: 5px 0 5px 15px;
}

#bg .navbar .nav-item a:hover {
    color: #ff9916 !important;
    /* border-bottom: 1px solid #ff9916; */
    transition: 0.6s;
}

#bg .navbar .dropdown-menu {
    margin: 13px 0 0;
    border-radius: 0;
    font-size: 14px;
    left: auto;
    right: -4px;
    border: none;
    padding: .3rem 0;
}

#bg .navbar .dropdown-menu a {
    color: #555 !important;
    font-weight: 400 !important;
}

#bg .navbar .dropdown-menu a:hover {
    color: #555 !important;
    background-color: #e0e0e0;
}

#bg .navbar .dropdown-menu hr {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

#myInfo .title h5 {
    color: #d0d5da;
    padding-bottom: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #434857;
}

.left-side .side-nav a {
    color: #d0d5da;
    border-bottom: 1px solid transparent;
}

.left-side .side-nav .nav-link {
    padding: .6rem 0;
}

.left-side .side-nav .active {
    color: #ff9916;
}

.left-side .side-nav a:hover {
    border-bottom: 1px solid #bd710e;
    transition: 0.6s;
}

.right-side h5>span {
    float: right;
    font-size: 14px;
    margin-top: 7px;
    color: #ff9916;
}

.right-side ul li {
    line-height: 25px;
}

@media (max-width: 576px) {
    #bg .navbar .container {
        padding: 0 15px;
    }
    .right-side h5 span {
        display: none;
    }
}


/*===== FOOTER =====*/

#footer .navbar {
    padding: .8rem 0;
}

#footer .bg-dark {
    background-color: #131722 !important;
    border-bottom: 1px solid #2a303c;
}

#footer .pd-footer {
    padding: 1.5rem 0;
}

#footer .nav-item a:hover {
    color: #ff9916 !important;
    transition: 0.4s;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #clock,
    .clock-icon,
    .copyright {
        display: none;
    }
}


/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 0;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #929ba3;
    border-radius: 0;
}