.right-side .token .card {
    border: 1px solid #ff9916;
    background-color: #131722;
    padding: 8px 15px 10px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 15px;
}

.right-side .token .card .huge {
    font-size: 28px;
    line-height: normal;
}

.right-side .token .card .sub-text {
    font-size: 15px;
}

.right-side ul li a {
    color: #ff9916;
}

.right-side ul li a:hover {
    color: #deb413;
    text-decoration: none;
}


/* ===== Token Sale ===== */

.right-side #token-sale h4 {
    font-size: 1.25rem;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff841a), color-stop(1, #fff707));
    background-image: gradient( linear, left top, right top, color-stop(0, #ff9916), color-stop(1, #fff707));
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    display: inline-block;
}

.right-side #token-sale .input-link {
    border: 1px solid #434857;
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    padding: 5px 10px;
    color: #d0d5da;
}

.right-side #token-sale .input-link:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 143, 0, 0.35);
}

.right-side #token-sale .btn-link {
    background-color: transparent;
    border: 1px solid #434857;
    padding: 4px 25px 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 4px;
    color: #d9a213;
    width: 100%;
}

.right-side #token-sale .btn-link:hover {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #676e82;
}


/*====== Custom Tables ======*/

#balance-info {
    font-size: 13px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #434857;
    color: #d0d5da !important;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>th {
    padding: 9px 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #434857;
    color: #b3b7bb;
}

.table>thead>tr>th:hover {
    cursor: pointer;
}

.table>thead>tr>th:focus {
    outline-color: #434857;
}

.table>thead>tr>th .size {
    font-size: 17px;
    padding-top: 2px;
}


/* Tables - Border */

.table-bordered {
    border: 1px solid #434857;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #434857;
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px;
}


/* Customer - Datables */

.dataTables_length {
    float: left;
}

#order_filter {
    float: right;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 400;
    color: #d0d5da;
}

.dataTables_info {
    color: #d0d5da;
    float: left;
}


/* Customer - Select */

label select {
    margin: 0 5px;
    border: 1px solid #434857;
    color: #fff;
    background-color: transparent;
    padding: 4px;
}

label select:focus {
    outline-color: #434857;
}

label select option {
    background-color: #495153;
}


/* Customer - Search */

label input {
    margin-left: 10px;
    border: 1px solid #434857;
    color: #fff;
    background-color: transparent;
    padding: 4px 5px 4px 8px;
    font-weight: normal;
    width: 200px;
}

label input:focus {
    outline-color: #434857;
}


/* Customer - Pagination */

.dataTables_paginate {
    float: right;
}

.paging_simple_numbers>a {
    color: #d0d5da;
    width: 80px;
    height: 32px;
    padding: 5px;
    border: 1px solid #434857;
    display: inline-block;
    text-align: center;
}

.paging_simple_numbers>a:first-child {
    border-right: none;
}

.paging_simple_numbers>span>a {
    color: #fff;
    border: 1px solid #434857;
    width: 32px;
    height: 32px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-right: none;
}

.paging_simple_numbers a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ff9916;
}

.ellipsis {
    color: #fff;
    width: 32px;
    height: 32px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #434857;
    text-align: center;
    border-right: none;
}


/* Customer - Responsivve */

@media(max-width: 500px) {
    #example_filter {
        float: none;
    }
    label select {
        margin: 0 5px 0 20px;
    }
    .dataTables_paginate {
        float: left;
        margin-top: 10px;
    }
    .paging_simple_numbers>a {
        width: 65px;
    }
    .paging_simple_numbers>span>a {
        width: 28px;
    }
    .right-side .token .card {
        margin-top: 0;
    }
}