.right-side #clockdiv {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.right-side #clockdiv>div {
    padding: 7px;
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    border: 2px solid #ff9916;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.right-side #clockdiv div>span {
    padding: 3px 0 0;
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    font-weight: 500;
    width: 60px;
    height: 35px;
}

.right-side .smalltext {
    padding-top: 0;
    margin-top: -5px;
    font-size: 14px;
}

.right-side .token-sell-info h4 {
    font-size: 1.25rem;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff841a), color-stop(1, #fff707));
    background-image: gradient( linear, left top, right top, color-stop(0, #ff9916), color-stop(1, #fff707));
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    display: inline-block;
}

.right-side ul li a {
    color: #ff9916;
}

.right-side ul li a:hover {
    color: #deb413;
    text-decoration: none;
}

.right-side .balances .card {
    border: 1px solid #ff9916;
    background-color: #131722;
    padding: 10px 15px 15px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 15px;
}

.right-side .balances .card .huge {
    font-size: 28px;
    line-height: normal;
}

.right-side .balances .card .sub-text {
    font-size: 15px;
}

.right-side .note ul {
    padding-left: 17px;
}


/* ===== Referral Program ===== */

.right-side #referral-program h4 {
    font-size: 1.25rem;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff841a), color-stop(1, #fff707));
    background-image: gradient( linear, left top, right top, color-stop(0, #ff9916), color-stop(1, #fff707));
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    display: inline-block;
}

.right-side #referral-program .input-link {
    border: 1px solid #434857;
    background-color: transparent;
    border-radius: 4px;
    width: 90%;
    padding: 5px 10px;
    color: #d0d5da;
}

.right-side #referral-program .input-link:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 143, 0, 0.35);
}

.right-side #referral-program .btn-link {
    background-color: transparent;
    border: 1px solid #434857;
    padding: 4px 25px 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 4px;
    color: #d9a213;
}

.right-side #referral-program .btn-link:hover {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #676e82;
}


/* ===== Airdrop Program ===== */

.right-side .air-drop-content .card {
    border: 1px solid #ff9916;
    background-color: #131722;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 15px;
}

.right-side .air-drop-content .card a {
    font-size: 1.5rem;
    color: #ff9916;
    margin: 6px 0 0;
    height: 45px;
}

.right-side .air-drop-content .card a:hover {
    text-decoration: none;
    color: #ffcf16;
    transition: 0.6s;
}

.right-side .air-drop-content .card .huge {
    font-size: 20px;
    line-height: normal;
}

.right-side .air-drop-content .card .sub-text {
    margin-top: 3px;
    color: #a8a8a8;
}

@media (max-width: 576px) {
    #bg .navbar .container {
        padding: 0 15px;
    }
    .right-side h5 span {
        display: none;
    }
    .right-side #referral-program .input-link {
        width: 100%;
    }
}