.row-list {
  margin: 1rem 0 1rem;
  border-radius: .5rem;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6 {
  position: absolute;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: transform;
}

@media (max-width: 991.98px) {
  .text-left,
  .text-right {
    text-align: center !important;
  }
}


/* ----- Section cover ----- */

#cover {
  padding-top: 20px;
  padding-bottom: 35px;
}

#cover .container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 80px;
  border-radius: .25rem;
  max-width: 100%;
  background-color: #222;
}

#cover h1 {
  font-size: 65px;
  margin-top: 12px;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  color: #c7af8b;
}

#cover p {
  margin: 30px 0;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  color: #c7af8b;
}

#cover .btn-view-more {
  border-radius: 12px;
  font-size: 17px;
  padding: 15px 50px;
  margin: 15px 0;
  font-weight: 500;
  background-color: #444;
  border: 2px solid #444;
  text-transform: uppercase;
  color: #ddd;
  transition: .5s;
}

#cover .btn-view-more:hover {
  color: #fff !important;
  border-color: #fc643f;
  background-color: #fc643f;
}

#cover .wrap {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#cover img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#cover .image-1 {
  left: -75px;
  bottom: 30px;
}

#cover .image-2 {
  left: -80px;
  top: 200px;
}

#cover .image-3 {
  left: -11px;
  bottom: -141px;
}

#cover .image-4 {
  left: auto;
  right: -91px;
  bottom: -280px;
}

#cover .image-5 {
  left: 7px;
  top: 35px;
}

#cover .image-6 {
  left: -155px;
  top: -15px;
}

@media (max-width: 1199.98px) {
  #cover .image-1 {
    left: 320px;
    bottom: -280px;
  }
  #cover .image-2 {
    left: 277px;
    top: 95px;
  }
  #cover .image-3 {
    left: 630px;
    bottom: 36px;
  }
  #cover .image-4 {
    right: 99px;
    bottom: -192px;
  }
  #cover .image-5 {
    left: 7px;
    top: 35px;
  }
  #cover .image-6 {
    left: 380px;
    top: -100px;
  }
}

@media (max-width: 991.98px) {
  #cover .container {
    padding: 50px 40px;
  }
  #cover .image-1 {
    bottom: -213px;
  }
  #cover .image-2 {
    top: 115px;
  }
  #cover .image-4 {
    right: 49px;
    bottom: -102px;
  }
  #cover .image-6 {
    left: -295px;
    top: 80px;
  }
}

@media (max-width: 767.98px) {
  #cover {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #cover .image-1 {
    bottom: -280px;
  }
  #cover .image-3 {
    left: 110px;
    bottom: -50px;
  }
  #cover .image-4 {
    bottom: -200px;
    right: -80px;
  }
  #cover .image-6 {
    left: -100px;
    top: 20px;
  }
}

@media (max-width: 575.98px) {
  #cover {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #cover h1 {
    font-size: 32px;
    text-align: center;
  }
  #cover p {
    text-align: center;
  }
  #cover .btn-view-more {
    padding: 10px 50px;
    margin: 30px 0;
  }
  #cover .text-left {
    text-align: center !important;
  }
}


/*----- List boarding house -----*/

.list-boarding-house {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: .25rem;
}

.list-boarding-house .card {
  flex-basis: 18rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1.5rem 1.25rem 0;
  border-radius: .25rem;
  background-color: #222;
  border: 1px solid #252525;
}

.list-boarding-house .card .image-box {
  position: relative;
}

.list-boarding-house .card .image-box .image {
  border-radius: .25rem;
  height: 18rem;
  width: 100%;
  display: block;
}

.list-boarding-house .card .image-box .overlay {
  border-radius: .2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.list-boarding-house .card .image-box:hover .overlay {
  opacity: 1;
}

.list-boarding-house .card .image-box .overlay .action {
  display: block;
  position: absolute;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

.list-boarding-house .card .image-box .overlay .action a {
  font-size: .95rem;
  margin: 0 .5rem;
  display: inline-block;
  background-color: rgba(68, 68, 68, 0.55);
  color: #c7af8b;
  border: 1px solid #444;
  transition: .3s;
  border-radius: .25rem;
  padding: .3rem 1rem;
  width: 7rem;
}

.list-boarding-house .card .image-box .overlay .action a:hover {
  text-decoration: none;
  border: 1px solid rgb(199, 175, 139, 0.5)
}

.list-boarding-house .card-body {
  padding: .75rem 1rem .55rem;
}

.list-boarding-house .card-body .name a {
  font-size: 1.15rem;
  color: #c7af8b;
  display: block;
  margin: .25rem 0 .25rem;
}

.list-boarding-house .card-body .name a:hover {
  text-decoration: none;
  color: #ffaf14;
}

.list-boarding-house .card-body .name .status {
  position: absolute;
  right: 1rem;
  top: 19.5rem;
  font-size: .8rem;
}

.list-boarding-house .card-text {
  margin-top: .25rem;
}

.list-boarding-house .card-text .s-title {
  margin: .15rem 0;
}

.list-boarding-house .card-text .info .label-info {
  font-size: .8rem;
  display: inline-block;
  margin: .45rem .25rem .45rem 0;
  padding: .25rem .65rem;
  border-radius: .25rem;
  color: #ccb08a;
  background-color: #2f2f2f;
  border: 1px solid #464646;
}

@media (max-width: 575.98px) {}


/*----- Request -----*/

.request {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: .5rem;
  padding-top: 1rem;
}

.request .card {
  border: 1px solid #222;
  flex-basis: 18rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1.5rem 1rem 0;
  border-radius: .25rem;
  background-color: #222;
}

.request .card .card-body {
  padding: 1rem 1rem .75rem;
}

.request .card .card-title {
  font-size: 1.125rem;
  color: #d0d0d0;
  font-weight: 500;
  margin-top: -2rem;
}

.request .card .card-title .request-number {
  background-color: #3c4043;
  padding: .5rem 1rem;
  width: 4.5rem;
  display: inline-table;
  border-radius: .25rem;
  font-size: 1.35rem;
  margin-right: .85rem;
  color: #ffaf14;
}

.request .card .card-text {
  font-size: .9rem;
  margin-bottom: .25rem;
}

.request .card .card-text .label-info {
  font-size: .8rem;
  display: inline-block;
  margin: .25rem .5rem .25rem 0;
  background-color: #444;
  padding: .35rem .65rem;
  border-radius: 2rem;
}


/*----- Utilities -----*/

.utilities {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: .5rem;
  padding-top: 1rem;
}

.utilities .card {
  border: 1px solid #222;
  flex-basis: 18rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1.5rem 1rem 0;
  border-radius: .25rem;
  background-color: #222;
}

.utilities .card .card-body {
  padding: 1rem 1rem .75rem;
}

.utilities .card .card-title {
  font-size: 1.125rem;
  color: #d0d0d0;
  font-weight: 400;
  margin-top: -2rem;
}

.utilities .card .card-title .icon-lg {
  background-color: #3c4043;
  padding: 1.25rem 1rem;
  width: 4.5rem;
  display: inline-table;
  border-radius: .25rem;
  font-size: 2rem;
  margin-right: .85rem;
  color: #ffaf14;
}

.utilities .card .card-text {
  font-size: .9rem;
  margin-bottom: .75rem;
}


/*----- Link -----*/

.card .card-body a.link {
  color: #d4d4d4;
  font-size: .9rem;
}

.card .card-body a.link:hover {
  color: #ffaf14;
  text-decoration: none;
}