@font-face {
    font-family: SourceSansPro;
    src: url(../../fonts/SourceSansPro.otf);
}

body {
    font-size: 15px;
    font-family: SourceSansPro;
    letter-spacing: .015rem;
}

.bg-color {
    background: #f7f7f7;
}

.hero-content {
    background: url(../../images/cover/hero-bg.jpg) no-repeat center;
    background-size: cover;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}


/*----- Top bar -----*/

.top-header-bar {
    background: transparent;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 992px) {
    .top-left {
        display: none;
    }
    .top-right {
        padding-left: 0;
        padding-right: 0;
    }
}

.top-header-bar .container ul .icon-size {
    width: 39px;
}

.top-header-bar .container ul {
    margin-bottom: 0;
    padding: 0;
}

.top-header-bar .container ul li {
    float: right;
    list-style: none;
}

.top-header-bar .container ul li a {
    color: #fff;
    padding: 8px 15px;
    display: block;
    font-size: 14px;
}

.top-header-bar .container ul.float-left li a {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.top-header-bar .container ul li a:hover {
    color: #03bb65;
    text-decoration: none;
}

.flex {
    display: flex !important;
}


/*----- Nav bar -----*/

.nav-bar {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-title {
    padding: 6px 0;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    text-align: left !important;
}

.site-title a {
    color: #fff !important;
    text-decoration: none;
}

.site-title a span {
    color: #03bb65;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -320px;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    padding: 30px 15px;
    background: rgba(0, 0, 0, .95);
    transition: all 0.35s;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }
}

.hamburger-menu {
    position: relative;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 14px;
}

.hamburger-menu .icon-bar {
    display: block;
    height: 2px;
    border-radius: 1px;
    background-color: #e6e6e6;
    width: 35px;
    transition: all 0.25s ease;
}

.hamburger-menu .icon-bar+.icon-bar {
    margin-top: 8px;
}

.hamburger-menu.rotate .icon-bar:nth-child(1) {
    transform: none;
}

.hamburger-menu .icon-bar:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: 90% 10%;
}

.hamburger-menu.rotate .icon-bar:nth-child(2) {
    opacity: 1;
}

.hamburger-menu .icon-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.rotate .icon-bar:nth-child(3) {
    transform: none;
}

.hamburger-menu .icon-bar:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: 90% 10%;
}

.site-navigation ul li a:hover,
.site-navigation ul li.active a {
    color: #03bb65;
}

.site-navigation ul li a {
    font-size: 15px;
    display: block;
    padding: 13px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}


/*----- Hero content -----*/

.hero-content-overlay {
    background: rgba(0, 0, 0, .5);
}

.hero-content-wrap {
    height: 100vh;
}

@media screen and (max-width: 480px) {
    .hero-content-wrap {
        height: 800px;
        padding-top: 100px;
    }
}

.hero-content-wrap h4 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #03bb65;
    letter-spacing: 0.1em;
}

.hero-content-wrap h1 {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.hero-content-wrap p {
    margin-top: 8px;
    color: #fff;
}

.hero-content-wrap .read-more {
    margin-top: 40px;
}

@media screen and (max-width: 998px) {
    .hero-content-wrap .read-more {
        margin-top: 20px;
    }
}

.hero-content-wrap .read-more a {
    display: inline-block;
    padding: 12px 40px;
    border: 2px solid #03bb65;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}


/* ----- Section title ----- */

.top-title {
    border-bottom: 4px solid #03bb65;
    width: 65px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.top-title i {
    font-size: 24px;
    color: #03bb65;
    margin-left: 3px;
    margin-bottom: 5px;
}

.title {
    color: #373737;
    font-weight: 500;
    font-size: 26px;
    margin: 0 2px 30px;
}

.title .lg-f {
    font-size: 35px;
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 21px;
    }
}


/* ----- Section category ----- */

#category {
    padding-top: 80px;
    padding-bottom: 100px;
}

#category .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 180px;
}

#category .card {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
    margin: 0 5px 0;
}

@media screen and (max-width: 576px) {
    #category {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    #category .card {
        margin: 1rem 5px 0;
    }
}


/* ----- Section description ----- */

#description {
    padding-top: 80px;
    padding-bottom: 80px;
}

#description .box {
    padding: 0 5px;
}

#description .box i {
    margin: 25px 0 20px;
    color: #03bb65;
}

#description .box h4 {
    margin-bottom: .75rem;
}


/* ----- Section course ----- */

#course {
    padding-top: 80px;
    padding-bottom: 100px;
}

#course .card {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
    margin: 0 5px 10px;
}

#course .card .card-body {
    padding: 1rem;
}

#course .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 220px;
}

#course .card .card-title {
    color: #373737;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: .35rem;
}

#course .card .card-time {
    font-size: 14px;
    margin-bottom: .75rem;
}

#course .card .card-text {
    font-size: 15px;
    height: 145px;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 10px;
}

#course .card .card-footer {
    padding: .55rem 1rem;
    background-color: transparent;
    border-top: 1px solid rgb(239, 239, 239);
}

#course .card .card-footer span {
    margin-top: 2px;
    display: inline-block;
}

#course .card .card-footer span i {
    color: #ffb71d;
}

#course .card .card-footer small {
    color: #03bb65;
    font-size: 18px;
    font-weight: 500;
    float: right;
}

.carousel-control-prev {
    left: -120px;
}

.carousel-control-next {
    right: -120px;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: #ccc;
}

#course .btn-more {
    padding-top: 3rem;
}

@media screen and (max-width: 998px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .title {
        margin: 0 3px 10px;
    }
    #course {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    #course .card {
        margin: 1rem 5px 10px;
    }
    #course .card-img-top {
        height: 200px;
    }
    #course .btn-more {
        padding-top: 1.5rem;
    }
}


/* ----- Section location ----- */

#location {}

#gmap {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 1;
}


/* ----- Footer ----- */

#footer {
    background-color: #232323;
    color: #bdbdbd;
    font-size: 15px;
}

#footer .f-top {
    padding: 60px 0 40px;
}

#footer h6 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.15rem;
}

#footer .info ul,
#footer .social ul {
    padding: 0;
}

#footer .info ul li,
#footer .social ul li {
    list-style: none;
    padding: 2px 0;
}

#footer .course ul {
    padding-left: 18px;
}

#footer .course ul li {
    padding: 2px 0;
}

#footer .social ul li a {
    color: #bdbdbd;
    margin-right: 20px;
}

#footer .social ul li a i {
    font-size: 40px;
}

#footer .social ul li a.btn {
    color: #fff;
}

#footer .social ul li a:hover i {
    color: #03bb65;
}

#signature {
    background-color: #161617;
    color: #bdbdbd;
    font-size: 14px;
}

#signature .f-bot {
    padding: 8px 0;
}

#signature .f-bot span {
    padding: 2px 0;
    display: inline-block;
}

#signature .f-bot .copyright {
    text-align: right;
}

@media screen and (max-width: 576px) {
    #signature .f-bot .copyright {
        text-align: left;
    }
}


/* ----- Scroll ----- */

#page-top::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    background-color: #fff;
    border-radius: 5px;
}

#page-top::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

#page-top::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 0;
}


/* ----- Scroll to top ----- */

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    line-height: 38px;
    font-size: 22px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}


/* ----- Bootstrap component custom css ----- */

.modal-header {
    border-bottom: 1px solid transparent;
}

.modal-body {
    padding: 1rem 1rem 0;
}

.modal-content {
    border-radius: .2rem;
}

.modal-footer {
    border-top: 1px solid transparent;
}

.modal-header .close {
    padding: .5rem .8rem;
}

.modal-body h4 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 10rem auto;
    }
}

.btn {
    line-height: 1.5;
    border-radius: 2px;
}

.btn-sm {
    font-size: .85rem;
    padding: .275rem .9rem .375rem;
}

.btn-md {
    font-size: .95rem;
    padding: .3rem 1.2rem;
}

.btn-lg {
    font-size: 1rem;
    padding: .4rem 1.5rem .5rem;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #cccccc;
}

.btn-success {
    color: #fff;
    background-color: #03bb65;
    border-color: #03bb65;
}

.btn-success:hover {
    background-color: #19c880;
    border-color: #19c880;
}