.hero-content {
    background: url(../../images/hero-bg.jpg) no-repeat center;
    background-size: cover;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}


/*----- Top bar -----*/

.top-header-bar {
    background: transparent;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 992px) {
    .top-left {
        display: none;
    }
    .top-right {
        padding-left: 0;
        padding-right: 0;
    }
}

.top-header-bar .container ul .icon-size {
    width: 39px;
}

.top-header-bar .container ul {
    margin-bottom: 0;
    padding: 0;
}

.top-header-bar .container ul li {
    float: right;
    list-style: none;
}

.top-header-bar .container ul li a {
    color: #fff;
    padding: 10px 15px;
    display: block;
    font-size: 13px;
}

.top-header-bar .container ul.float-left li a {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.top-header-bar .container ul li a:hover {
    color: #19c880;
    text-decoration: none;
}

.flex {
    display: flex !important;
}


/*----- Nav bar -----*/

.nav-bar {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-title {
    padding: 6px 0;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    text-align: left !important;
}

.site-title a {
    color: #fff !important;
    text-decoration: none;
}

.site-title a span {
    color: #19c880;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    padding: 30px 15px;
    background: rgba(0, 0, 0, .95);
    transition: all 0.35s;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }
}

.hamburger-menu {
    position: relative;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 14px;
}

.hamburger-menu .icon-bar {
    display: block;
    height: 2px;
    border-radius: 1px;
    background-color: #e6e6e6;
    width: 35px;
    transition: all 0.25s ease;
}

.hamburger-menu .icon-bar+.icon-bar {
    margin-top: 8px;
}

.hamburger-menu.rotate .icon-bar:nth-child(1) {
    transform: none;
}

.hamburger-menu .icon-bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.hamburger-menu.rotate .icon-bar:nth-child(2) {
    opacity: 1;
}

.hamburger-menu .icon-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.rotate .icon-bar:nth-child(3) {
    transform: none;
}

.hamburger-menu .icon-bar:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.site-navigation ul li a:hover,
.site-navigation ul li.active a {
    color: #19c880;
}

.site-navigation ul li a {
    font-size: 14px;
    display: block;
    padding: 13px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}


/*----- Hero content -----*/

.hero-content-overlay {
    background: rgba(0, 0, 0, .5);
}

.hero-content-wrap {
    height: 100vh;
}

@media screen and (max-width: 480px) {
    .hero-content-wrap {
        height: 800px;
        padding-top: 100px;
    }
}

.hero-content-wrap h4 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #19c880;
    letter-spacing: 0.1em;
}

.hero-content-wrap h1 {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.hero-content-wrap p {
    margin-top: 8px;
    color: #fff;
}

.hero-content-wrap .read-more {
    margin-top: 40px;
}

@media screen and (max-width: 998px) {
    .hero-content-wrap .read-more {
        margin-top: 20px;
    }
}

.hero-content-wrap .read-more a {
    display: inline-block;
    padding: 12px 40px;
    border: 2px solid #19c880;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}